@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    color: black;
}

/* splide theming */
.splide__arrow {
    background: #f4772a !important;
    opacity: 1 !important;

    width: 3rem !important;
    height: 3rem !important;
}


.container {
    position: relative;

    margin-top: 200px;

    height: fit-content;
    width: 100%;

    background-color: #fff;
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;

    height: fit-content;
    width: 100%;
    margin: 0 auto;

    padding: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: .9rem;

    z-index: 999;

    background-color: #fff;

    transition: .3s all;
    
    &.scrolled {
        padding: 25px 50px;
    }

    & > .logo {
        font-size: 2rem;
    }

    & > .nav-items {
        position: relative;

        height: 100%;
        width: fit-content;

        display: flex;
        
        & > .item {
            position: relative;

            padding: 10px 25px;

            cursor: pointer;
            &.active {
                color: #f4772a;
            }
            &:hover {
                color: #f4772a;
            }
        }
    }

    & > .authoriz {
        position: relative;

        height: 100%;
        width: fit-content;

        display: flex;

        & > div {
            position: relative;

            padding: 10px 25px;
        }

        & > .login {
            color: white;
            background-color: #f4772a;
            border-radius: 20px;
        }
    }
}
