.container {
    height: calc(100vh - 100px) !important;
    margin-top: 100px;
}

.auth-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: fit-content;
    width: 70%;

    background-color: #fff;

    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, .3);

    display: flex;

    & > .anim {
        width: fit-content;
        height: 100%;

        background-color: #f4772a;
    }

    & > .form {
        position: relative;

        height: auto;
        width: 100%;

        & > .login {
            position: relative;

            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & > .heading {
                width: 100%;

                text-align: center;

                font-size: 2rem;
                font-weight: bolder;

            }

            & > .inputs {
                position: relative;

                height: fit-content;
                width: 60%;
                
                margin: 0 auto;

                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 20px;

                & > .item {
                    position: relative;

                    height: fit-content;
                    width: 100%;

                    display: flex;

                    & > .icon {
                        height: fit-content;
                        width: fit-content;
                        
                        padding: 8px 0;
                        padding-right: 17px;
                        border-right: 3px solid #f4772a;

                        color: #f4772a;
                    }

                    & > .input {
                        height: fit-content;
                        width: 100%;

                        & > input {
                            height: 100%;
                            width: 100%;

                            padding: .5rem 1rem;

                            border: none;
                            background-color: rgba( #f4772a, 0);

                            font-size: .8rem;

                            transition: .3s all;

                            &:focus {
                                outline: none;
                                background-color: rgba( #f4772a, .05);
                            }
                        }
                    }
                }
            }

            & > .actions {
                position: relative;

                height: fit-content;
                width: fit-content;
                
                margin: 0 auto;

                & > .btn-submit {
                    width: fit-content;
                    margin: 0 auto;

                    padding: 10px 50px;

                    color: white;
                    font-size: 1.2rem;
                    text-align: center;

                    background-color: #f4772a;

                    border-radius: 25px;
                }

                & > .forgot-password {

                    padding: 20px 0;

                    font-size: .7rem;
                    color: #afafaf;
                    text-align: center;
                    & > .label {
                        padding: 15px 0;
                    }
                    
                    & > a {
                        padding: 0 5px;
                        font-size: .8rem;
                        color:  #f4772a;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}