.house-preview {
    position: relative;

    height: 80vh;
    width: 100%;

    /* background-color: #bcbcbc; */

    & .splide__slide {
        height: 60vh;
    }

    & .preview-container {
        position: relative;

        height: 100%;
        width: 100%;

        transform: scale(.8);
        opacity: .7;

        display: flex;

        transition: .3s all;

        & > .details {
            position: absolute;
            top: 30px;
            left: 30px;

            height: fit-content;
            width: fit-content;

            padding: 30px;
            padding-right: 50px;

            background-color: #fff;

            z-index: 3;

            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);

            & > .price {
                font-size: 1.5rem;
                color: #13957f;
                font-weight: bold;

                margin-bottom: 20px;

                & > .origin {
                    font-size: .8rem;
                    color: #bcbcbc;
                }
            }
        }

        & > .main-img {
            position: relative;

            height: 100%;
            width: 100%;

            background-image: url('https://preview.colorlib.com/theme/homey/images/property_1.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            align-self: center;

            transition: .3s all;

            z-index: 1;
        }

        & > .overlay {
            position: absolute;

            height: 100%;
            width: 100%;

            background-color: rgba(0, 0, 0, .2);

            z-index: 2;
        }
    }

    & .splide__slide.is-active {
        & .preview-container {
            transform: scale(1);
            opacity: 1;
        }
    }

    
}

.features {
    position: relative;

    height: fit-content;
    width: 100%;

    margin: 50px 0;

    & > .heading {
        font-size: .85rem;

        text-align: center;
        & > span {

            &:nth-child(1) {
                display: block;

                margin: 15px 0;
    
                font-size: 1.5rem;
                color: #13957f;
            }
            &:nth-child(2) {
                display: block;

                width: 500px;

                margin: 0 auto;

                line-height: 25px;
                color: #afafaf;
            }
            
        }
    }

    & > .items {
        position: relative;

        height: auto;
        width: 100%;

        display: flex;
        justify-content: center;

        & > .anim {
            position: relative;

            padding: 20px 80px;
            width: fit-content;
            height: fit-content;
        }

        & > .details {
            position: relative;

            height: auto;
            width: 30%;
            min-width: 300px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            & > .heading {
                width: 100%;
                font-size: 1.5rem;
                padding: 15px 0;
                color: #13957f;
            }

            & > .brief {
                font-size: 1rem;
                color: #929392;
                line-height: 30px;
                text-align: justify;
            }
        }
    }
}