.logged-in-content {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.logged-in-content > .heading {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #fc742b;
  display: flex;
  justify-content: space-between;
}
.logged-in-content > .heading > .label {
  font-size: 1.3rem;
  color: #afafae;
}
.logged-in-content > .heading > .actions {
  position: relative;
  height: auto;
  width: fit-content;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #fc742b;
}
.logged-in-content > .heading > .actions > .action {
  padding: 5px 15px;
  font-size: 0.8rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s all;
  cursor: pointer;
  user-select: none;
}
.logged-in-content > .heading > .actions > .action.toggled {
  background-color: #ff3e3e !important;
  color: white;
}
.logged-in-content > .heading > .actions > .action.disabled {
  display: none;
}
.logged-in-content > .heading > .actions > .action:hover {
  transform: translateY(-10%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.logged-in-content > .content {
  position: relative;
  height: fit-content;
  width: 100%;
}
.logged-in-content > .content > #editActions {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: none;
}
.logged-in-content > .content > #editActions.visible {
  display: flex;
}
.logged-in-content > .content > #editActions > .select-all {
  display: flex;
}
.logged-in-content > .content > #editActions > .select-all > .label {
  color: #afafae;
  font-size: 0.85rem;
  padding-right: 15px;
}
.logged-in-content > .content > #editActions > .actions {
  display: flex;
  gap: 15px;
  font-size: 0.85rem;
}
.logged-in-content > .content > #editActions > .actions > .action {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
  color: #fc742b;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.logged-in-content > .content > #editActions > .actions > .action.del {
  background-color: #ff3e3e !important;
  color: white;
}
.logged-in-content > .content > #editActions > .actions > .action.disabled {
  opacity: 0.5;
  cursor: initial;
}
.logged-in-content > .content > .list {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s all;
}
.logged-in-content > .content > .list > .item {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  padding: 50px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  /* justify-content: space-between; */
  transition: 0.3s all;
}
.logged-in-content > .content > .list > .item:last-child {
  padding-bottom: 0;
  border-bottom: 0px solid rgba(0, 0, 0, 0.15);
}
.logged-in-content > .content > .list > .item > .edits {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100%);
  width: 100px;
}
.logged-in-content > .content > .list > .item > .edits > .tick {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logged-in-content > .content > .list > .item > .edits > .tick > input {
  height: 20px;
  width: 20px;
}
.logged-in-content > .content > .list > .item > .brief {
  position: relative;
  height: fit-content;
  width: fit-content;
}
.logged-in-content > .content > .list > .item > .brief > .heading {
  color: #afafae;
  font-size: 0.8rem;
  padding-bottom: 15px;
}
.logged-in-content > .content > .list > .item > .brief > .house-info {
  display: flex;
  gap: 30px;
  position: relative;
  height: fit-content;
  width: fit-content;
}
.logged-in-content > .content > .list > .item > .brief > .house-info > .img {
  height: 150px;
  width: 200px;
  background-image: url("https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?b=1&k=6&m=1223671392&s=612x612&w=0&h=5VMcL3a_1Ni5rRHX0LkaA25lD_0vkhFsb1iVm1HKVSQ=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.logged-in-content > .content > .list > .item > .brief > .house-info > .details {
  height: fit-content;
  width: fit-content;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 30px;
  overflow-y: scroll;
}
.logged-in-content > .content > .list > .item > .brief > .house-info > .details > .item {
  display: flex;
  gap: 10px;
  height: fit-content;
  width: 100%;
}
.logged-in-content > .content > .list > .item > .brief > .house-info > .details > .item > .label {
  width: 30%;
  color: #afafae;
  font-size: 0.8rem;
}
.logged-in-content > .content > .list > .item > .brief > .house-info > .details > .item > .value {
  font-size: 0.85rem;
  color: #fc742b;
}
.logged-in-content > .content > .list > .item > .stats {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logged-in-content > .content > .list > .item > .stats .heading {
  color: #afafae;
  font-size: 0.8rem;
  padding-bottom: 10px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info {
  position: relative;
  height: 100%;
  width: 100%;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5px 15px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .renter {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 10px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .renter > .photo {
  position: relative;
  flex: 1 1 30%;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .renter > .photo > .img {
  position: relative;
  height: 135px;
  width: 135px;
  border: 1px solid #fc742b;
  border-radius: 5px;
  background-image: url("https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?b=1&k=6&m=1223671392&s=612x612&w=0&h=5VMcL3a_1Ni5rRHX0LkaA25lD_0vkhFsb1iVm1HKVSQ=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .renter > .brief {
  position: relative;
  height: fit-content;
  width: 100%;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .renter > .brief > .item {
  display: flex;
  gap: 10px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .renter > .brief > .item > .label {
  flex: 1 1 100px;
  color: #afafae;
  font-size: 0.8rem;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .renter > .brief > .item > .value {
  flex: 1 1 60%;
  font-size: 0.85rem;
  color: #fc742b;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .no-renter {
  position: relative;
  height: 100%;
  width: 100%;
  filter: grayscale(1);
  opacity: 0.7;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .no-renter > .svg {
  position: absolute;
  top: calc(30%);
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  width: 120px;
  background-image: url("../../svg/empty_undraw.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .no-renter > .text {
  position: absolute;
  top: calc(70%);
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  font-size: 0.9rem;
  color: #797979;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .new-booking {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .new-booking > .heading {
  font-size: 1.1rem;
  color: #fc742b;
  padding-bottom: 15px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .new-booking > .actions {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 10px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .new-booking > .actions > .action {
  padding: 5px 10px;
  background-color: #fff;
  color: #fc742b;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display > .new-booking > .actions > .action.decline {
  color: #fff;
  background-color: #ff5e5e;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display.btn-confirm-pay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display.btn-confirm-pay > .value {
  font-size: 0.9rem;
  color: #fc742b;
}
.logged-in-content > .content > .list > .item > .stats > .renter-info > .display.btn-confirm-pay > .btn {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
  color: #fc742b;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.logged-in-content > .content > .list.edit-mode > .item {
  padding-left: 100px;
  cursor: pointer;
}
.logged-in-content > .content > .list.edit-mode > .item:hover {
  background-color: #f0f0f0;
}

.add-house-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.493);
  padding: 60px 0;
  z-index: 999;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}
.add-house-form.hidden {
  display: none;
}
.add-house-form > .form {
  position: relative;
  height: fit-content;
  width: 60%;
  min-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}
.add-house-form > .form > .sections {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.add-house-form > .form > .sections > .section {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 30px 50px;
}
.add-house-form > .form > .sections > .section > .heading {
  color: #fc742b;
  font-size: 1.2rem;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.add-house-form > .form > .sections > .section > .items {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.add-house-form > .form > .sections > .section > .items > .item {
  font-size: 0.9rem;
}
.add-house-form > .form > .sections > .section > .items > .item > .label {
  color: #797979;
}
.add-house-form > .form > .sections > .section > .items > .item > .input {
  width: 100%;
  padding: 5px 0;
}
.add-house-form > .form > .sections > .section > .items > .item > .input > input, .add-house-form > .form > .sections > .section > .items > .item > .input textarea {
  width: 40%;
  padding: 5px 10px;
}
.add-house-form > .form > .sections > .section > .items > .item > .input > input::placeholder, .add-house-form > .form > .sections > .section > .items > .item > .input textarea::placeholder {
  color: #afafae;
}
.add-house-form > .form > .actions {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.add-house-form > .form > .actions > div {
  position: relative;
  height: fit-content;
  width: 100px;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
}
.add-house-form > .form > .actions > div.cancel {
  color: #fc742b;
}
.add-house-form > .form > .actions > div.submit {
  color: #fff;
  background: #fc742b;
}

/*# sourceMappingURL=owned.css.map */
