.logged-in-content {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.logged-in-content > .heading {
  padding: 25px 15px;
  padding-top: 0;
  color: #afafae;
  font-size: 1.3rem;
}
.logged-in-content > .content {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.logged-in-content > .content > .items {
  position: relative;
  height: fit-content;
  width: fit-content;
  min-width: 200px;
  margin: 30px 60px;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 120px);
  gap: 30px;
}
.logged-in-content > .content > .items > .item {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logged-in-content > .content > .items > .item > .label {
  font-size: 0.9rem;
  color: #afafae;
}
.logged-in-content > .content > .items > .item > .value {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 10px;
}
.logged-in-content > .content > .items > .item > .value > input, .logged-in-content > .content > .items > .item > .value select {
  width: 100%;
  font-size: 1rem;
  color: #fc732d;
  padding: 0;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  transition: 0.3s all;
}
.logged-in-content > .content > .items > .item > .value > input:disabled, .logged-in-content > .content > .items > .item > .value select:disabled {
  background-color: #fff;
}
.logged-in-content > .content > .items > .item > .value > input:focus, .logged-in-content > .content > .items > .item > .value select:focus {
  outline: none;
}
.logged-in-content > .content > .items > .item > .value.edit > input {
  font-size: 1.1rem;
  border-bottom: 1px solid #fc732d;
}
.logged-in-content > .content > .items > .item > .value > .btn-edit, .logged-in-content > .content > .items > .item > .value .btn-save, .logged-in-content > .content > .items > .item > .value .btn-del, .logged-in-content > .content > .items > .item > .value .btn-undo {
  display: none;
  padding: 5px;
  color: #afafae;
  cursor: pointer;
}
.logged-in-content > .content > .items > .item > .value > .btn-edit:hover, .logged-in-content > .content > .items > .item > .value .btn-save:hover, .logged-in-content > .content > .items > .item > .value .btn-del:hover, .logged-in-content > .content > .items > .item > .value .btn-undo:hover {
  color: #fc732d;
}
.logged-in-content > .content > .items > .item > .value > .btn-edit.visible, .logged-in-content > .content > .items > .item > .value .btn-save.visible, .logged-in-content > .content > .items > .item > .value .btn-del.visible, .logged-in-content > .content > .items > .item > .value .btn-undo.visible {
  display: block;
}
.logged-in-content > .content > .items > .item > .photo {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  gap: 10px;
}
.logged-in-content > .content > .items > .item > .photo > .img {
  position: relative;
  height: 150px;
  width: 200px;
  background-image: url("https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?b=1&k=6&m=1223671392&s=612x612&w=0&h=5VMcL3a_1Ni5rRHX0LkaA25lD_0vkhFsb1iVm1HKVSQ=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.logged-in-content > .content > .items > .item > .photo > .img:hover > .actions {
  transform: translateY(0%);
  background-color: rgba(0, 0, 0, 0.233);
}
.logged-in-content > .content > .items > .item > .photo > .img > .actions {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s all;
}
.logged-in-content > .content > .items > .item > .photo > .img > .actions > .action {
  margin-top: auto;
  height: fit-content;
  width: fit-content;
  padding: 10px 25px;
  background-color: #f6f6f6;
  color: #fc732d;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
}
.logged-in-content > .content > .items > .item > .others-add {
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 7px 20px;
  font-size: 0.9rem;
  background-color: #ebebeb;
  color: #fc732d;
  border-radius: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=profile.css.map */
