.logged-in-content {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.logged-in-content > .heading {
  padding: 25px 15px;
  padding-top: 0;
  font-size: 1.3rem;
  color: #afafae;
}
.logged-in-content > .content {
  position: relative;
  height: fit-content;
  width: 100%;
}
.logged-in-content > .content > .list {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logged-in-content > .content > .list > .item {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}
.logged-in-content > .content > .list > .item > .brief {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 20px;
}
.logged-in-content > .content > .list > .item > .brief > .img {
  height: 150px;
  width: 200px;
  background-image: url("https://preview.colorlib.com/theme/homey/images/property_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.logged-in-content > .content > .list > .item > .brief > .details {
  height: fit-content;
  width: fit-content;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.logged-in-content > .content > .list > .item > .brief > .details > .item {
  display: flex;
  gap: 10px;
  height: fit-content;
  width: 100%;
}
.logged-in-content > .content > .list > .item > .brief > .details > .item > .label {
  width: 30%;
  color: #afafae;
  font-size: 0.8rem;
}
.logged-in-content > .content > .list > .item > .brief > .details > .item > .value {
  font-size: 0.85rem;
  color: #fc742b;
}
.logged-in-content > .content > .list > .item > .stats {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logged-in-content > .content > .list > .item > .stats .heading {
  color: #afafae;
  font-size: 0.8rem;
  padding-bottom: 10px;
}
.logged-in-content > .content > .list > .item > .stats > .payments {
  position: relative;
  height: fit-content;
  width: 100%;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  /* overflow: hidden; */
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div {
  position: relative;
  height: fit-content;
  width: fit-content;
  min-width: 60px;
  padding: 10px 20px;
  background-color: greenyellow;
  border-bottom: 3px solid #fc742b00;
  transition: 0.3s all;
  text-align: center;
  font-size: 0.7rem;
  user-select: none;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div:hover {
  border-bottom: 3px solid #fc742b;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div:hover > .value {
  opacity: 1;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div > .value {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  font-size: 0.7rem;
  transition: 0.3s all;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div.paid {
  background-color: greenyellow;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div.paid > .value {
  color: green;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div.unpaid {
  background-color: #ff8e8e;
}
.logged-in-content > .content > .list > .item > .stats > .payments > .display > div.unpaid > .value {
  color: #ff1d1d;
}

/*# sourceMappingURL=rented.css.map */
